<!DOCTYPE html>
<html>
  <head>
    <title>Log in</title>
  </head>
  <body>
    <form action="" method="post">
      {% csrf_token %}
      <!-- as_p для того, чтобы каждый элемент формы был с новой строки -->
      {{ form.as_p }}
      <button type="submit">Log in</button>
    </form>
    <p> or <a href="{% url 'auth_user:register' %}">Register</a> </p>
  </body>
</html>