<!DOCTYPE html>
<html>
  <head>
    <title>Join</title>
  </head>
  <body>
    <form action="" method="post">
      {% csrf_token %}
      <!-- as_p для того, чтобы каждый элемент формы был с новой строки -->
      {{ form.as_p }}
      <button type="submit">Join</button>
    </form>
  </body>
</html>