<h1> MAIN {{ username }} </h1>

Users - online
<ul>
{% for user in user_list %}
	<li>{{ user.username }}</li>
{% endfor %}
</ul>

Open lobbies
<ul>
{% for lobby in open_lobbies %}
	<li><a href= "{% url 'main:lobby' lobby.id %}">{{ lobby.name }}</a></li>
{% endfor %}
</ul>

<h1>Open Lobby</h1>
<form action="{% url 'main:create' %}" method="post">
	{% csrf_token %}
	<label for="lobby_name">Lobby name</label><br>
	<input type="text" name="lobby_name" id="lobby_name"><br>
	<input type="submit" value="Create">
</form>