<h1> Battle room - {{lobby.name}} </h1>
<h2> Game master - {{lobby.owner}} </h2>
<h2> Opponent - {{lobby.opponent}}</h2>
<h3> status - {{lobby.status}}</h3>
{% if lobby.status = 'Ready to game' %}
	<button> Start game</button>
{% endif %}